@import "resets";
@import "../../node_modules/sierra-library/lib/index";

.text-roboto-head {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.text-roboto-med {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
}
.text-roboto-thin {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 200;
}
