@import "resets";

.hide {
  background-color: black;
}

.main__container {
  background-color: bisque;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: repeat(3, auto);
  gap: 1px 1px;
  grid-template-areas:
    "top-left top-center top-right"
    "header-left header-center header-right"
    "center-left center-center center-right"
    "bottom-left bottom-center bottom-right";
}

.main__nav {
  grid-column: 1 / 4;
  background-color: aliceblue;
  text-align: center;
  width: 100%;
  padding: 0.5rem;
  position: fixed;
  .main__nav-button {
    justify-self: left;
    padding: 0.25rem;
  }
  .main__nav-list {
    grid-area: top-center;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    .main__nav-list-item {
      display: inline;
    }
  }
}
.main__main {
  grid-area: center-center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  .main__main-header {
    text-align: center;
    margin-top: 50px;
    .main__main-header-h1 {
      color: black;
    }
  }
  .main__main-article {
    margin: 20px auto;
    .main__main-article-p {
      max-width: 65ch;
      line-height: 1.4;
      text-align: left;
      margin: 20px;
    }
  }
}
.main__footer {
  grid-area: bottom-center;
  text-align: center;
  .main__footer-list {
    grid-area: top-center;
    display: flex;
    flex-flow: row nowrap;
    padding: 1rem;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    .main__footer-list-item {
      display: inline;
    }
  }
}
